{% load cv %}

{% for service in services %}
{% spaceless %}
    <li id="service-{{service.pk}}" class="cv-entry cv-entry-service row">
        <span class="cv-entry-date col-2 col-sm-1">{{service|year_range:"-"}}</span>
        <span class="cv-entry-text col-9 col-sm-10"><span class="cv-entry-text-service-role">{{service.role}}</span>, {% if service.group %}<span class="cv-entry-text-service-group">{{service.group}}</span>, {% endif %}<span class="cv-entry-text-service-organization">{{service.organization}}</span>.

        {% edit_item service %}
        </span>
    </li>
{% endspaceless %}
{% endfor %}
