{% load cv %}

{% for service in services %}
{% spaceless %}
    <li id="service-{{service.pk}}">
        <div class="noneditable row">
            <span class="cv-entry-date col-2 col-sm-1">{{service|year_range:"-"}}</span>
            <span class="cv-entry-text col-9 col-sm-10"><em>{{service.role}}</em>, {% if service.group %}{{service.group}}, {% endif %}{{service.organization}}.

            {% edit_item service %}
            </span>
        </div>
        <div class="editable"></div>
    </li>
{% endspaceless %}
{% endfor %}
