{% load cv %} 

{% if object_list.total or user.is_authenticated %}
	{% if object_list.published %}{% with 'published' as status %}
		{% if object_list.revise or object_list.inprep %}
	    	<h3 class="cv-subsection-heading cv-subsection-heading-{{model_name}} cv-published cv-published-{{model_name}}">Published</h3>
		{% endif %}
		{% publication_entries object_list.published %}
	{% endwith %}{% endif %} 

	{% if object_list.revise and user.is_authenticated %}
	    <h3 class="cv-subsection-heading cv-subsection-heading-{{model_name}} cv-revise cv-revise-{{model_name}}">Under Review</h3>
	    {% publication_entries object_list.revise %}
	{% endif %}

	{% if object_list.inprep %}
	    <h3 class="cv-subsection-heading cv-subsection-heading-{{model_name}} cv-inprep cv-inprep-{{model_name}}">In Preparation</h3>
	    {% publication_entries object_list.inprep %}
	{% endif %}

{% endif %}