{% extends "cv/skeleton.html" %}

{% block centerbar %}

{% block contact %}{% endblock %}

{% block centerbar-content %}

	{% block degrees %}{% endblock %}

	{% block positions %}{% endblock %}

	{% block awards %}{% endblock %}

	{% block books %}{% endblock %}

	{% block articles %}{% endblock %}

	{% block chapters %}{% endblock %}

	{% block grants %}{% endblock %}

	{% block otherwriting %}{% endblock %}

	{% block talks %}{% endblock %}

	{% block students %}{% endblock %}

	{% block courses %}{% endblock %}

	{% block service %}{% endblock %}

{% endblock centerbar-content %}


<div id="details" class="col-xs-12 details">
{% block details %}{% endblock %}
</div>

<div id="next-previous" class="col-xs-12 clear-fix next-previous">
{% block next-previous %}{% endblock %}
</div> 

{% endblock centerbar %}