{% extends 'cv/base.html' %}

{% load cvnew %}

{% block contact %}
{% include 'cv/contact.html' %}
{% endblock %}

{% block awards %}
    {% section_list 'award' award_list %}
{% endblock %}

{% block articles %}
    {% publication_list 'article' article_list %}
{% endblock %}

{% block books %}
    {% publication_list 'book' book_list %}
{% endblock %}

{% block chapters %}
    {% publication_list 'chapter' chapter_list %}
{% endblock %}

{% block courses %}
    {% section_list 'course' course_list 'Teaching' %}
{% endblock %}

{% block degrees %}
    {% section_list 'degree' degree_list %}
{% endblock %}

{% block grants %}
    {% include 'cv/sections/grant.html' %}
{% endblock %}

{% block otherwriting %}
    {% section_list 'otherwriting' 'cv/sections/otherwriting.html' 'Essays, op-eds, and other writing' %}
{% endblock %}

{% block positions %}
    {% section_list 'position' 'cv/sections/position.html' 'Employment' %}
{% endblock %}

{% block reports %}
    {% section_list 'report' report_list %}
{% endblock %}

{% block service %}
    {% include 'cv/sections/service.html' %}
{% endblock %}

{% block students %}
    {% section_list 'student' talk_list %}
{% endblock %}

{% block talks %}
    {% section_list 'talk' talk_list %}
{% endblock %}