{% extends 'cv/base.html' %}

{% block contact %}
{% include 'cv/contact.html' %}
{% endblock %}

{% block education %}
<div id="degrees" class="col-xs-12 cv-section">
{% include 'cv/sections/degrees.html' %}
</div>
{% endblock %}

{% block positions %}
<div id="positions" class="col-xs-12 cv-section">
{% include 'cv/sections/positions.html' %}
</div>
{% endblock %}

{% block awards %}
<div id="awards" class="col-xs-12 cv-section">
{% include 'cv/sections/awards.html' %}
</div>
{% endblock %}

{% block books %}
<div id="books" class="col-xs-12 cv-section">
{% include 'cv/sections/books.html' %}
</div>
{% endblock %}

{% block articles %}
<div id="articles" class="col-xs-12 cv-section">
{% include 'cv/sections/articles.html' %}
</div>
{% endblock %}

{% block chapters %}
<div id="chapters" class="col-xs-12 cv-section">
{% include 'cv/sections/chapters.html' %}
</div>
{% endblock %}

{% block grants %}
<div id="grants" class="col-xs-12 cv-section">
{% include 'cv/sections/grants.html' %}
</div>
{% endblock %}

{% block otherwriting %}
<div id="otherwriting" class="col-xs-12 cv-section">
{% include 'cv/sections/otherwriting.html' %}
</div>
{% endblock %}


{% block talks %}
<div id="talks" class="col-xs-12 cv-section">
{% include 'cv/sections/talks.html' %}
</div>
{% endblock %}

{% block courses %}
<div id="courses" class="col-xs-12 cv-section">
{% include 'cv/sections/courses.html' %}
</div>
{% endblock %}

{% block service %}
<div id="service" class="col-xs-12 cv-section">
{% include 'cv/sections/service.html' %}
</div>
{% endblock %}

{% block students %}
<div id="students" class="col-xs-12 cv-section">
{% include 'cv/sections/students.html' %}
</div>
{% endblock %}

