{% extends "cv/base.html" %}

{% block centerbar %}

    {% block contact %}{{block.super}}{% endblock contact %}

    <!-- CV SECTIONS -->
    {% block degrees %}{{block.super}}{% endblock %}

    {% block positions %}{{block.super}}{% endblock %}

    {% block awards %}{{block.super}}{% endblock %}

    {% block books %}{{block.super}}{% endblock %}

    {% block articles %}{{block.super}}{% endblock %}

    {% block chapters %}{{block.super}}{% endblock %}

    {% block reports %}{{block.super}}{% endblock %}

    {% block grants %}{{block.super}}{% endblock %}

    {% block otherwriting %}{{block.super}}{% endblock %}

    {% block talks %}{{block.super}}{% endblock %}

    {% block students %}{{block.super}}{% endblock %}

    {% block courses %}{{block.super}}{% endblock %}

    {% block service %}{{block.super}}{% endblock %}

{% endblock centerbar %}
