/* CV Form Styles */
.invalid-feedback {
    display:block;
}

label {
    margin:7px 0px 0px; 
}

.author input[type="number"] {
    width:5rem;
}

.author > input, .author > textarea, .author > select {
    align-self: center !important;
}

.fixed-width > input {
	width: 70%;
}

.fixed-width > label{
	width: 20%;
}

.author {
    display:block;
    background:#B8DAFF;
    border: 1px solid #0561BD;
    border-radius:.25rem;
}

select[required=True] {
    font-weight:bold;
}