{% extends 'cv/base.html' %}

{% block centerbar %}
<div id="{{model}}-add" class="alert alert-primary">
<h2 class="display-4">{{method}} {{model_verbose_name|title}}</h2>    
<form method="POST" id="{{model}}-form" class="post-form small" action="{{action_url}}">{% csrf_token %}
    <span class="invalid-feedback">{{form.non_field_errors}}</span>
    {% if form.display %}
        <div class="form-group row">
            <span class="col-3 align-items-center pt-4">
                Display?: {{form.display}}
            </span>
        </div>
    {% endif %}
    {% block formcontent %}
        <div class="form-group row form-row">
            {% for field in form %}
                <span class="col-12 col-lg-6">
                    {% include "cv/forms/_form_field.html" %}
                </span>
            {% endfor %}
            <br>
        </div>
    {% block formsets %}{% endblock %}
    {% endblock formcontent %}
    <div class="row">
        <div class="save-group btn-group col-12" role="group" aria-label="{{method}} {{model}}">
            <button id="{{model}}FormSubmit" type="submit" class="btn btn-light">Save</button>
            <a id="cancel" class="btn btn-light" href="{% url 'cv:cv_list' %}#{{model}}s">Cancel</a>

        {% if method == "Edit" %}
            <a href="{% url 'cv:cv_delete' model_name=model pk=form.instance.pk%}" class="btn btn-danger alert-danger cv-delete">Delete</a>
        {% endif %}
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block endscripts %}
{{ block.super }}
                <script>
                    $(document).on('keyup', '.slugify > input', function(event){slugify(this)});
                </script>

{% endblock endscripts %}
