{% block centerbar %}
<form method="POST" id="-form" class="post-form" action="{{action_url}}">{% csrf_token %}
{% block formcontent %}
    <div class="form-group row">
        {{ form.as_p }}
        <br>
    </div>
{% endblock formcontent %}
    <div class="btn-toolbar justify-content-between row" role="toolbar" aria-label="Toolbar for editing {{model}}">
         <div class="save-group btn-group" role="group" aria-label="Edit degree">
        	<button id="degree-form-{{form.instance.pk}}" type="submit" class="btn btn-default">Save</button>
    	</div>
{% block delete_button %}
    	<div class="btn-group" role="group" aria-label="Delete degree">
        	<a href="{{delete_url}}" class="btn btn-detail alert-danger cv-delete">Delete</a>
        </div>
{% endblock delete_button %}
	</div>
</form>
{% endblock %}