{% extends 'cv/forms/_base.html' %}

{% load widget_tweaks %}

{% block formcontent %}
    <div class="form-group row align-items-start">

        {% include 'cv/forms/formgroups/title.html' %}
        
        <div class="col-12 col-lg-6 form-row">
            <span class="col-12 col-lg-7">
                {% with form.status as field %}
                        {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12 col-lg-7">
                {% with form.submission_date as field %}
                        {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12 col-lg-7">
                {% with form.pub_date as field %}
                        {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12">
                <span class="form-text form-text-sm mt-0">&nbsp;</span>
                <span class="form-text">&nbsp;</span>
                <span class="form-text text-muted">&nbsp;</span>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <!-- ABSTRACT -->
        {% include 'cv/forms/formgroups/abstract.html' %}
        
        <!-- CITATION INFORMATION -->
        <div class="col-12 col-lg-6 mt-3 form-row align-content-start">
            <h5 class="col-12 form-title">Citation Information</h5>
            {% block citation_information %}
            {% endblock %}
        </div>
    </div>

    <!-- AUTHORSHIP INFORMATION -->
    <div class="form-group row">
         <div class="col-12 row mt-3">
            <h5 class="col-12 form-title">Authors</h5>
            <div class="col-12 row">
                {{authorship_formset.management_form}}
                {{ authorship_formset.non_form_errors }}
                {% for author_form in authorship_formset %}
                    <span class="col-12 d-flex flex-row flex-wrap justify-content-left justify-content-md-center ml-3 mr-3 mt-2 mb-2 author">
                    {% for field in author_form.visible_fields %}
                        {% spaceless %}
                        <span class="d-flex flex-row justify-content-left align-items-center 

                        {% if forloop.first %}
                            col-12 col-lg-4
                        {% else %}
                            col-4 col-md-3 col-lg-2
                        {% endif %}
                        ">
                        {% endspaceless %}
                            <label for="{{field.id_for_label}}" class="p-0  mt-0 align-self-center 
                                {% if field.field.required %}font-weight-bold{% endif %}">
                            {{field.label}}</label>
                            {{field}}
                            {% if field.errors %}
                                <span class="invalid-feedback">{% for error in field.errors %}{{error}}{% endfor %}</span>
                            {% endif %}
                        </span>                       
                        {% endfor %}
                    {% for field in author_form.hidden_fields %}
                        {{field}}
                    {% endfor %}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- EDITION INFORMATION -->
    {% block edition_information %}
    {% endblock %}

    <!-- EDITORSHIP INFOMRATION -->
    {% block editorship_information %}
    {% endblock %}

    <!-- DISCIPLINARY INFORMATION -->
    {% include 'cv/forms/formgroups/discipline.html' %}

    <!-- GRANT INFORMATION -->
    {% include 'cv/forms/formgroups/grant.html' %}

{% endblock formcontent %}
