{% extends 'cv/forms/_base.html' %}

{% load widget_tweaks %}

{% block formcontent %}
    <span class="invalid-feedback">{{form.non_field_errors}}</span>
            <div class="form-group row align-items-start">
                <div class="form-row col-12 col-lg-6">
                    <span class="col-12">
                        {% with form.name as field %}
                            {% include "cv/forms/_publication_field.html" %}
                        {% endwith %}
                    </span>
                    <span class="col-12">
                        {% with form.date as field %}
                            {% include "cv/forms/_publication_field.html" %}
                        {% endwith %}
                    </span>
                    <span class="col-12">
                        {% with form.organization as field %}
                            {% include "cv/forms/_publication_field.html" %}
                        {% endwith %}
                    </span>
                </div>
                <div class="form-row col-12 col-lg-6">
                    <span class="col-12">
                        {% with form.description as field %}
                            {% include "cv/forms/_publication_field.html" %}
                        {% endwith %}
                    </span>
                </div>
            </div>
{% endblock %}
