{% extends 'cv/forms/_base_person.html' %}

{% load widget_tweaks %}

            {% block other_information %}
            <div class="form-group row">
                <h5 class="col-12">Email</h5>
                <span class="col-12 col-lg-6">
                    {% with form.email as field %}
                        {% include "cv/forms/_form_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 col-lg-6">
                    {% with form.alternate_email as field %}
                        {% include "cv/forms/_form_field.html" %}
                    {% endwith %}
                </span>
            </div>
            <div class="form-group row">
                <h5 class="col-12">Other Information</h5>
                <span class="col-12 col-lg-6">
                    {% with form.institution as field %}
                        {% include "cv/forms/_form_field.html" %}
                    {% endwith %}
                </span><span class="d-none d-lg-block col-12"></span>
                <span class="col-12 col-lg-6">
                    {% with form.website as field %}
                        {% include "cv/forms/_form_field.html" %}
                    {% endwith %}
                </span>
            </div>
            {% endblock other_information %}
