{% extends 'cv/forms/_base_work.html' %}

{% block work_details %}
        <div class="col-12 col-lg-6 form-row align-content-start">
            <span class="col-12">
                {% with form.venue as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12">
                {% with form.place as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-6 col-md-4">
                {% with form.pages as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-6 col-md-4">
                {% with form.volume as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-6 col-md-4">
                {% with form.issue as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12">
                {% with form.url as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12">
                {% with form.type as field %}
                    {% include "cv/forms/_form_field.html" %}
                {% endwith %}
            </span>
        </div>
{% endblock work_details %}

{% block discipline %}{% endblock discipline %}

{% block grant %}{% endblock grant %}