{% extends 'cv/forms/_base.html' %}

{% load widget_tweaks %}

{% block formcontent %}
            <div class="form-group row">
                <span class="col-4 align-items-center pt-lg-4">
                    Display: {{form.display}}
                </span>
            </div>
            <div class="form-group row">
                <h5 class="col-12">Name</h5>
                <span class="col-8 col-lg-4">
                    {% with form.first_name as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-4 col-lg-2">
                    {% with form.middle_name as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-8 col-lg-5">
                    {% with form.last_name as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-4 col-lg-1">
                    {% with form.suffix as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
            </div>
            <div class="form-group row">
                <h5 class="col-12">Advising Information</h5>
                <span class="col-12 col-lg-3">
                    {% with form.role as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 col-lg-2">
                    {% with form.student_level as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 col-lg-2">
                    {% with form.graduation_date as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 col-lg-5">
                    {% with form.thesis_title as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 align-items-center pt-2 pb-2 ">
                    Is current student: {{form.is_current_student}}
                </span>
                <span class="col-12 col-lg-6">
                    {% with form.first_position as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12 col-lg-6">
                    {% with form.current_position as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
            </div>


{% endblock %}

