<form method="POST" id="{{model}}Form" class="post-form small" action="{{action_url}}" >{% csrf_token %}
    <div class="form-group row align-items-start ">
        <div class="col-12 col-lg-6 form-row">
        	<span class="col-12">
                {% with form.title as field %}
                    {% include "cv/forms/_publication_field.html" %}
                {% endwith %}
        	</span>
            <span class="col-12">
                {% with form.short_title as field %}
                    {% include "cv/forms/_publication_field.html" %}
                {% endwith %}
            </span>
            <span class="col-12">
                {% with form.slug as field %}
                    {% include "cv/forms/_publication_field.html" %}
                {% endwith %}
            </span>
        </div>
        <div class="col-12 col-lg-6 form-row">
            <span class="col-12">
                {% with form.abstract as field %}
                    {% include "cv/forms/_publication_field.html" %}
                {% endwith %}
                <span class="form-text text-muted">Use <a href="https://daringfireball.net/projects/markdown/syntax" alt="Markdown syntax">Markdown syntax</a>: e.g., **<b>bold</b>**, *<i>italics</i>*, `<code>code</code>`, [link text]&lt;url&gt;</span>
            </span>
        </div>
    </div>
    <div class="form-group row align-items-start">
         <div class="col-12 col-md-6 row mt-3">
            <h5 class="col-12">Grant information</h5>
            <div class="col-12 row">
                <span class="col-12">
                    {% with form.grants as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12">
                    {% with form.pmcid as field %}{% with noprinthelp=True %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}{% endwith %}
                </span>
                <span class="col-12">
                    {% with form.pmid as field %}{% with noprinthelp=True %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}{% endwith %}
                    {% if form.pmid or form.pmcid %}
                    <span class="form-text text-muted">For information on the above see <a href="https://publicaccess.nih.gov/include-pmcid-citations.htm#Difference" title="The Difference Between a PMCID and a PMID">explanation from NIH</a></span>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-12 col-md-6 row mt-3 align-content-start">
            <h5 class="col-12">Disciplinary information</h5>
            <div class="col-12 row">
                <span class="col-12">
                    {% with form.primary_discipline as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
                <span class="col-12">
                    {% with form.other_disciplines as field %}
                        {% include "cv/forms/_publication_field.html" %}
                    {% endwith %}
                </span>
            </div>
        </div>        
    </div>
    <div class="form-group row align-items-start">
    	<h5 class="col-12">Presentations</h5>
    	<div class="col-12 row">
    		{{presentation_formset.management_form}}
    		{% for presentation_form in presentation_formset %}
    			<span class="col-12 d-flex flex-row flex-wrap justify-content-left ml-3 mr-3 mt-2 mb-2 author">
    				{% for field in presentation_form.visible_fields %}
    				{% spaceless %}
    				<span class="d-flex flex-row justify-content-left
    					col-12 col-lg-6 
    				 fixed-width ">
    				{% endspaceless %}
                        <label for="{{field.id_for_label}}" class="p-0  mt-0 align-self-center align-items-center fixed-label-width
                            {% if field.field.required %}font-weight-bold{% endif %}">
                        {{field.label}}</label>
                        {{field}}
                        {% if field.error %}
                            <span class="invalid-feedback">{{field.error}}</span>
                        {% endif %}
                    </span>                       
    			{% endfor %}
    		</span>
    		{% endfor %}
    	</div>
    </div>

</form>

