{% extends 'cv/forms/_base_work.html' %}

{% load widget_tweaks %}

{% block formset %}
    <div class="form-group row">
        <h5 class="col-12 form-title">Presentations</h5>
        <div class="col-12">
            {{presentation_formset.management_form}}
            {{ presentation_formset.non_form_errors }}
            {% for presentation_form in presentation_formset %}
                <span class="col-12 d-flex flex-row flex-wrap ml-3 mr-3 mt-2 mb-2 author">
                {% for field in presentation_form.visible_fields %}
                    <span class="d-flex flex-row col-12 col-lg-4">
                        <label for="{{field.id_for_label}}" class="p-0  mt-0 align-self-center 
                            {% if field.field.required %}font-weight-bold{% endif %}">
                        {{field.label}}</label>{{field}}
                        {% if field.errors %}
                            <span class="invalid-feedback">{% for error in field.errors %}{{error}}{% endfor %}</span>
                        {% endif %}
                    </span>                       
                    {% endfor %}
                {% for field in author_form.hidden_fields %}
                    {{field}}
                {% endfor %}
                </span>
            {% endfor %}
        </div>
    </div>
{% endblock formset %}
