{% extends "cv/details/cv_detail.html" %}

{% load cv %}

{% with book as object %}

{% block abstract_name %}Summary{% endblock %}

{% block type-specific-info %}
{%if book.editions.all|length > 1 %}
<div class="col-12 col-sm-10 editions">
    <h3>Other editions</h3>
    <ul>
    {% for edition in book.editions.all|slice:"1:" %}
        <li class="details"><em>{{edition.edition}} edition</em> ({{edition.pub_date|date:"Y"}}){% if edition.publisher %} {{edition.publisher}}.{% endif %}{% if edition.isbn %} ISBN: {{edition.isbn}}{% endif %}{% if edition.description %} {{edition.description}}{% endif %}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock type-specific-info %}

{% endwith %}