{% extends "cv/base.html" %}
{% load cv %}
{% load static %}

{% block centerbar %}
    {% block contact %}{{block.super}}{% endblock contact %}

    <div id="cv-detail-{{model_name}}-{{object.slug}}" class="cv-detail cv-detail-{{model_name}}">
        <h2 class="cv-detail cv-detail-heading cv-detail-heading-{{model_name}} col-12">
            {% block maintitle %}{{object.title}}{% endblock %}
            {% if user.is_authenticated %}
                {% edit_item object %}
            {% endif %}
        </h2>

        {% block abstract %}
            {% if object.abstract %}
                <div class="cv-detail-abstract col-12 col-sm-10">
                    <h3 class="mt-4 cv-detail-subheading cv-detail-abstract-name">{% block abstract_name %}Abstract{% endblock abstract_name %}</h3>
                    <div id="abstract" class="cv-detail-abstract-text">
                    {{object.abstract_html|safe}}
                    </div>
                </div>
            {% endif %}
        {% endblock abstract %}


        {% block citation %}
            <div class="cv-detail-citation col-12">
                {% block formatted_citation %}<span class="cv-detail-citation-title">Citation.</span> <span class="cv-detail-citation-cite">{% cite_item object %}</span>{% endblock %}
            </div>
            <div class="cv-detail-citation-links cv-detail-citation-links-{{model_name}} btn-group col-12 col-sm-10 mt-2">
                {% block url %}
                {% if object.url %}
                    <a class="cv-detail-external-link btn btn-outline-primary btn-sm text-primary" role="button" href="{{object.url}}" title="Go to {{model_name}} website"><i class="fas fa-external-link-alt"></i> {% block type_and_location %}Go to {{model_name}} website{% endblock type_and_location %}</a>
                {% endif %}
                {% endblock %}
                {% cite_download object 'ris' %}
                {% cite_download object 'bib' %}
            </div>
        {% endblock citation %}

        {% block files %}
            {% if object.files.all or user.is_authenticated %}
                <div class="cv-detail-files cv-detail-files-{{model_name}} col-12 col-sm-10 files">
                    <h3 class="cv-detail cv-detail-subheading cv-detail-files-header cv-detail-files-header-{{model_name}} mt-4">Files</h3>
                    {% with object.files.all as files %}
                        <ul class="cv-detail-file-list cv-detail-file-list-{{model_name}}">
                            {% if files %}
                                {% for file in files %}
                                    <li class="cv-detail-file-details cv-detail-file-details-{{model_name}}">
                                        <a class="cv-detail-file-link cv-detail-file-link-{{model_name}} btn btn-secondary btn-sm" role="button" href="{{file.file.url}}"><span class='fa fa-download' aria-hidden="true"></span> <span class="cv-detail-file-download-title">Download</span> <span class="cv-detail-file-download-type">{{file.get_type_display|lower}}</span></a>
                                    </li>
                                {% endfor %}    
                                {% else %}
                                    <li class="cv-detail-no-files cv-detail-no-files-{{model_name}}">No files.</a></li>
                            {% endif %}
                        </ul>
                    {% endwith %}
                    </div>
            {% endif %}
        {% endblock files %}

        {% block type-specific-info %}{% endblock %}

<!--         {% block media_mentions %}
        {% with object.mediamention_set.all as mentions %}
            {% if mentions %}
            <h3 class="mt-4">Media Mentions</h3>
                <ul>
                    {% for mention in mentions %}
                        <li class="details">{{mention.title}}, <cite>{{mention.outlet}}</cite> ({{mention.date|date:"b d, Y"|title}}){% if mention.url %} <a class="media-mention" href="{{mention.url}}" title="View story on external site"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>{% endif %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% endblock media_mentions %}
 -->
    </div>

{% endblock centerbar %}

{% block next-previous %}
<div class="cv-nextprev cv-nextprev-{{model_name}} col-12 col-sm-10">
    <a href="{% url 'cv:section_list' model_name=model_name %}" class="cv-nextprev-list cv-next-prev-list-{{model_name}}">&#xab;Go to {{model_name_plural}}</a><br /><br />
    <a href="{% url 'cv:cv_list' %}#{{model_name}}-{{object.slug}}" class="cv-nextprev-main cv-next-prev-main-{{model_name}}">&#xab;Go to CV</a>
</div>
{% endblock %}

