{% extends "cv/details/cv_detail.html" %}

{% load cv %}

{% with talk as object %}

{% block formatted_citation %}{% endblock %}

{% block type-specific-info %}
{% if talk.presentations.all %}
<div class="col-12 col-sm-10 editions">
	<h3>Presentations</h3>
	<ul>
	{% for presentation in talk.presentations.all %}
		<li class="details">{{presentation.presentation_date|date:"M Y"}} at {{presentation.event}}.</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock type-specific-info %}

{% endwith %}