{% extends "cv/details/cv_detail.html" %}

{% load cv %}

{% with talk as object %}

{% block formatted_citation %}{% endblock %}

{% block type-specific-info %}
{% if talk.presentations.all %}
<div class="cv-detail-presentations col-12 col-sm-10">
	<h3 class="cv-detail cv-detail-presentations-header">Presentations</h3>
	<ul">
	{% for presentation in talk.presentations.all %}
		<li class="cv-details-presentation-details"><span class="cv-details-presentation-date">{{presentation.presentation_date|date:"M Y"}}</span> at <span class="cv-details-presentation-event">{{presentation.event}}</span>.</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock type-specific-info %}

{% endwith %}