{% load cv %}

{% for award in object_list %}
{% spaceless %}
    <ul class="cv-entries cv-entries-award">
        <li id="award-{{award.id}}" class="cv-entry cv-entry-award row">
            <span class="cv-entry-date cv-entry-date-award col-2 col-sm-1">{{award.date|date:"Y"}} </span> 
            <span class="cv-entry-text cv-entry-text-award col-9 col-sm-10">
                <em class="cv-entry-award-name">{{award.name}}</em>, {{award.organization}}
                {% if award.description %}
                    <span class="cv-entry-award-extra cv-extra hide">{{award.description}}</span>
                {% endif %}

            {% edit_item award %}

            </span>
        </li>
    </ul>
    {% endspaceless %}
{% endfor %}