{% load cvtags %}
{% if award_list or user.is_authenticated %} 
	<h2>Honors &amp; Awards</h2>
	<ul class="cv-entry">
	{% for award in award_list %}
	{% spaceless %}
		<li id="award-{{award.id}}">
			<div class="noneditable row">
				<span class="cv-entry-date col-2 col-sm-1">{{award.date|date:"Y"}} </span> 
				<span class="cv-entry-text col-9 col-sm-10">
					<em class="cv-entry-award-name">{{award.name}}</em>, {{award.organization}}
				<span class="cv-entry-award-extra hide">{{award.description}}
				</span>
				{% edit_item 'award' %}
				</span>
			</div>
			<div class="editable"></div>
		</li>
		{% endspaceless %}
		{% endfor %}
	</ul>
	{% add_item 'award' %}
{% endif %}