{% load cvtags %}

{% if total_books or user.is_authenticated %} 
<h2>Book{{total_books|pluralize}}</h2>
{% if book_published_list %}
	{% if book_revise_list or book_inprep_list %}
	<h3>Published</h3>
	{% endif %}
	{% publication_entries book_published_list %}
{% endif %}

{% if book_revise_list %}
	<h3>Under Review</h3>
	{% publication_entries book_revise_list %}
{% endif %}

{% if book_inprep_list %}
	<h3>In Preparation</h3>
	{% publication_entries book_inprep_list %}
{% endif %}

{% add_publication 'book' %}
{% endif %}