{% load cv %}

{% for course in object_list %}
{% spaceless %}
    <ul class="cv-entries cv-entries-course">
        <li id="course-{{course.slug}}" class="cvy-entry cv-entry-course row">
            <span class="cv-entry-text cv-entry-text-course col-11">
                <em>{{course.title}}</em> 
                {% if course.offerings.all or course.get_student_level_display %}<span class="cv-student-level-course">({{course.get_student_level_display}}</span>{% if course.offerings.all %}; 
                    {% for offering in course.offerings.all %}{% if not forloop.first %}, {% endif %}<span class="cv-offering"><span class="cv-offering-term">{{offering.get_term_display}}</span> <span class="cv-offering-date">{{offering.start_date|date:"Y"}}</span></span>{% endfor %}{% endif %})
                {% endif %}

                {% edit_item course %}

            </span>
        </li>
    </ul>
{% endspaceless %}
{% endfor %}