{% load cvtags %}
{% if degree_list or user.is_authenticated %} 
	<h2>Education</h2>
	<ul class="cv-entry">
	{% for degree in degree_list %}
	{% spaceless %}
		<li id="degree-{{degree.pk}}">
			<div class="noneditable row">
				<span class="cv-entry-date col-2 col-sm-1">{{degree.date_earned|date:"Y"}} </span>
				<span class="cv-entry-text col-9 col-sm-10">
					{{degree.degree}}, <em class="cv-entry-degree-major">{{degree.major}}</em>, {{degree.institution}}, {{degree.city}}, {{degree.state}}, {{degree.country}}
				{% if user.is_authenticated %}
						<a class="pl-4 degree-edit cv-edit" href="#degree"><i class="far fa-edit"></i></a>
				{% endif %}
				</span>
			</div>
			<div class="editable"></div>
		</li>
	{% endspaceless %}
	{% endfor %}
	</ul>
	{% add_item 'degree' %}
{% endif %}