{% load cv %}

{% for degree in object_list %}
{% spaceless %}
    <ul class="cv-entries cv-entries-degree">
        <li id="degree-{{degree.pk}}" class="cv-entry cv-entry-degree row">
                <span class="cv-entry-date cv-entry-date-degree col-2 col-sm-1">{{degree.date_earned|date:"Y"}} </span>
                <span class="cv-entry-text cv-entry-text-degree col-9 col-sm-10">
                    {{degree.degree}}, 
                    {% if degree.major %}<span class="cv-entry-degree-major">{{degree.major}}</span>, {% endif %}
                    {{degree.institution}}
                    {% if degree.city %}, <span class="cv-entry-degree-city">{{degree.city}}</span>{% endif %}
                    {% if degree.state %}, <span class="cv-entry-degree-state">{{degree.state}}</span>{% endif %}
                    {% if degree.country %}, <span class="cv-entry-degree-country">{{degree.country}}</span>{% endif %}

                    {% edit_item degree %}

                </span>
        </li>
    </ul>
{% endspaceless %}
{% endfor %}