{% load cvtags %}

{% if grant_list.total_grants or user.is_authenticated %}
    <h2>Grants</h2>

    {% if grant_list.internal_grants %}
        <h3>Internal</h3>
        <ul class="cv-entry">
        {% with grant_list.internal_grants as grants %}
            {% include 'cv/_entries_grant.html' %}
        {% endwith %}
        </ul>
    {% endif %} 

    {% if grant_list.external_grants %}
        <h3>External</h3>
        <ul class="cv-entry">
        {% with grant_list.external_grants as grants %}
            {% include 'cv/_entries_grant.html' %}
        {% endwith %}
    {% endif %} 
        </ul>

{% endif %}