{% load cvtags %}
{% if otherwriting_list or user.is_authenticated %}
	<h2>Op-Eds, Book Reviews, and Other Writing</h2>
	<ul class="cv-entry">
	{% for piece in otherwriting_list %}
	{% spaceless %}
		<li id="otherwriting-{{piece.pk}}">
			<div class="noneditable row">
				<span class="cv-entry-date col-2 col-sm-1">{{piece.date|date:"Y"}}
				</span>
				<span class="cv-entry-text col-9 col-sm-10">{% if piece.url %}<a href="{{piece.url}}">{{piece.title}}</a>{% else %}{{piece.title}}{% endif %}<cite>. {{piece.venue}}</cite>{% if piece.pages %}, {{piece.pages}}{% endif %}{% if piece.date %}. {{piece.date|date:"F j"}}{% endif %}.
			{% if user.is_authenticated %}
					<a class="pl-4 otherwriting-edit cv-edit" href="#otherwriting"><i class="far fa-edit"></i></a>
			{% endif %}
				</span>
			</div>
			<div class="editable"></div>
		</li>
	{% endspaceless %}
	{% endfor %}
	{% if user.is_authenticated %}
		<li>
			<span class="noneditable row">
				<span class="cv-entry-text offset-xs-2 offset-sm-1 col-9 col-sm-10">
		    		<a class="otherwriting-add cv-add" alt="Add new writing" href="#otherwriting"><i class="far fa-plus-square"></i> Add new writing</a>  
		    	</span>
			</span>
		</li>
	</ul>
	{% endif %}
	{% add_item 'otherwriting' %}
{% endif %}
