{% load cv %}

{% if object_list.total or user.is_authenticated %}
{% with object_list as service %}    
    {% if service.discipline %}
        <h3 class="cv-subsection cv-subsection-service cv-service-professional">Professional Service</h3>
        <ul class="cv-entries cv-entries-service cv-entries-service-professional">
            {% with service.discipline as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}

    {% if service.university %}
        <h3 class="cv-subsection cv-subsection-service cv-service-university">University Service</h3>
        <ul class="cv-entries cv-entries-service cv-entries-service-university">
            {% with service.university as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}

    {% if service.department %}
        <h3 class="cv-subsection cv-subsection-service cv-service-department">Department Service</h3>
        <ul class="cv-entries cv-entries-service cv-entries-service-department">
            {% with service.department as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}
{% endwith %}
{% endif %}