{% load cvtags %}
{% if total_service or user.is_authenticated %}
<h2 class="col-xs-12">Service</h2>
{% if discipline_service_list %}
<h3 class="col-xs-12">Professional Service</h3>
<ul class="cv-entry">
{% for service in discipline_service_list %}
<li id="service-{{service.pk}}" class="row">
<div class="noneditable">
	<span class="cv-entry-date col-xs-2 col-sm-1">{{service|year_range:"&#8211;"}}</span>
<span class="cv-entry-text col-xs-9 col-sm-10"><em>{{service.role}}</em>, {% if service.group %}{{service.group}}, {% endif %}{{service.organization}}.</span>
		{% if user.is_authenticated %}
				<a class="ml-4 service-edit cv-edit" href="#service"><i class="far fa-edit"></i></a>
		{% endif %}
	</div>
	<div class="editable"></div>
</li>
{% endfor %}
</ul>
{% endif %}
{% if university_service_list %}
<h3 class="col-xs-12">University Service</h3>
<ul class="cv-entry">
{% for service in university_service_list %}
<li id="service-{{service.pk}}" class="row">
	<div class="noneditable">
<span class="cv-entry-date col-xs-2 col-sm-1">{{service|year_range}}</span>
<span class="cv-entry-text col-xs-9 col-sm-10"><em>{{service.role}}</em>, {% if service.group %}{{service.group}}, {% endif %}{{service.organization}}.</span>
		{% if user.is_authenticated %}
				<a class="ml-4 service-edit cv-edit" href="#service"><i class="far fa-edit"></i></a>
		{% endif %}
	</div>
	<div class="editable"></div>
</li>
{% endfor %}
</ul>
{% endif %}
{% if department_service_list %}
<h3 class="col-xs-12">Department Service</h3>
<ul class="cv-entry">
{% for service in department_service_list %}
<li id="service-{{service.pk}}" class="row">
	<div class="noneditable">
<span class="cv-entry-date col-xs-2 col-sm-1">{{service|year_range}}</span>
<span class="cv-entry-text col-xs-9 col-sm-10"><em>{{service.role}}</em>, {% if service.group %}{{service.group}}, {% endif %}{{service.organization}}.</span>
		{% if user.is_authenticated %}
				<a class="ml-4 service-edit cv-edit" href="#service"><i class="far fa-edit"></i></a>
		{% endif %}
	</div>
	<div class="editable"></div>
</li>
{% endfor %}
</ul>
{% endif %}
<ul class="cv-entry">
{% if user.is_authenticated %}
<li class="row">
	<div class="noneditable">
		<a class="col-12 col-sm-12 service-add cv-add" alt="Add new service" href="#service"><i class="far fa-plus-square"></i> Add new service</a>
	</div>
</li>
{% endif %}
</ul>
{% endif %}