{% load cvnew %}

{% if service_list.total_grants or user.is_authenticated %}
    <h2>Service</h2>

    {% if service.discipline %}
        <h3>Professional Service</h3>
        <ul class="cv-entry">
            {% with service.discipline as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}

    {% if service.university %}
        <h3>University Service</h3>
        <ul class="cv-entry">
            {% with service.university as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}

    {% if service.department %}
        <h3>Department Service</h3>
        <ul class="cv-entry">
            {% with service.department as services %}
                {% include 'cv/_entries_service.html' %}
            {% endwith %}
        </ul>
    {% endif %}
{% endif %}