{% load cv %}

{% for student in object_list %}
{% spaceless %}
    <ul class="cv-entry">
        <li id="student-{{student.pk}}">
            <div class="noneditable row">
                <span class="cv-entry-text col-11">{{student.first_name}} {{student.last_name}} ({{student.role}}) {% if student.graduation_date %}Graduated {{student.graduation_date|date:"M Y"}}{% endif %}{% if student.current_position %}, currently {{student.current_position}}{% endif %}
                {% edit_item student %}
                </span> 
            </div>
        </li>
    </ul>
{% endspaceless %}
{% endfor %}