{% load cvtags %}
{% if student_list or user.is_authenticated %}
    <h2>Student{{student_list.count|pluralize}}</h2>
    <ul class="cv-entry">
        {% for student in student_list %}
        {% spaceless %}
        <li id="student-{{student.pk}}">
            <div class="noneditable row">
                <span class="cv-entry-text col-11">{{student.first_name}} {{student.last_name}} ({{student.role}}) {% if student.graduation_date %}Graduated {{student.graduation_date|date:"M Y"}}{% endif %}{% if student.current_position %}, currently {{student.current_position}}{% endif %}
                {% edit_item 'student' %}
                </span> 
            </div>
            <div class="editable"></div>
        </li>
    {% endspaceless %}
    {% endfor %}
</ul>
{% add_item 'student' %}
{% endif %}