{% load cv %}

{% for talk in object_list %}
{% spaceless %}
    <ul class="cv-entries cv-entries-talk">
        <li id="talk-{{talk.pk}}" class="cv-entry cv-entry-talk row">
            <span class="cv-entry-text cv-entry-text-talk col-11"><span class="cv-entry-text-talk-title">&#8220;{{talk.title}}.&#8221;</span><a href="{{talk.get_absolute_url}}" title="Details about {{talk.short_title}}" class="cv-entry-text-talk-url"><span class="pl-4 fa fa-chevron-circle-right"></span></a>{% edit_item talk %}</span> 
            <ul class="cv-subentries cv-subentries-talk col-11">
                    {% for presentation in talk.presentations.all %}
                    <li class="cv-subentry cv-subentry-presentation"><span class="cv-presentation-event">{{presentation.event}}</span> (<span class="cv-presentation-date">{{presentation.presentation_date|date:"M Y"}}</span>){% if presentation.get_type_display == "Invited" %}<span class="cv-presentation-isinvited">*</span>{% endif %}{% if not forloop.last %}, {% endif %}
                    </li>
                    {% endfor %}
            </ul>
        </li>
    </ul>
{% endspaceless %}
{% endfor %}